# 2회 작업형1 (데이터 마님)
[데이터 마님 링크](https://www.datamanim.com/dataset/practice/ex2.html)

In [15]:
# 경고 메세지 숨기기
import warnings
warnings.filterwarnings("ignore")

## 1번
주어진 Dataset에서 CRIM값이 가장 큰 10개의 지역을 구하고
10개의 지역의 CRIM값을 그 중 가장 작은 값으로 대체하라. 그리고
AGE 컬럼 값이 80이상인 대체 된 CRIM 평균값을 구하라

In [8]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,NaN,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,NaN,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

In [9]:
# CRIM 칼럼을 내림차순으로 하여 df를 정렬, 인덱스 재정렬
df = df.sort_values("CRIM", ascending=False).reset_index(drop=True)

# 내림차순으로 정렬한 것중 10개항에 대해, 최소값으로 모두 변경
df.loc[:9, "CRIM"] = df.loc[:9, "CRIM"].min()

# # AGE 컬럼이 80이상인, 대체된 CRIM 평균값
df_age_80 = df[df["AGE"] >= 80]
result = df_age_80["CRIM"].mean()
print(result)

5.759386625

## 2번
1-1에서 사용한 (원본)데이터에서 RM 중앙값으로 해당 컬럼의 결측치를 대체하라  
그리고 해당 컬럼의 결측치 대치 전후의 표준편차 차이의 절댓값을 소숫점 이하 3째자리 까지 구하라

### 결측치 대체 : df["칼럼명"].fillna(대체할 값)

In [11]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df.head(2)

# RM 칼럼의 결측치 대치 전 표준편차
before_std = df["RM"].std()

# RM 칼럼 중앙값으로 RM 칼럼의 결측치 대체
df["RM"] = df["RM"].fillna(df["RM"].median())

# RM 칼럼의 결측치 대치 후 표준편차
aft_std = df["RM"].std()

# RM 칼럼의 결측치 대치 전, 후의 표준편차 차이를 절댓값으로, 소수점 이하 셋째자리까지 
result = round(abs(before_std - aft_std), 3)
print(result)

0.027

## 3번
주어진 Dataset의 DIS 평균으로 부터 1.5 * 표준편차를 벗어나는 영역을 이상치라고 판단하고  
DIS 컬럼의 이상치들의 합을 구하여라.

In [29]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df.head(2)

DIS_mean = df["DIS"].mean()
DIS_std = df["DIS"].std()

cond1 = ((DIS_mean - 1.5 * DIS_std) > df["DIS"])
cond2 = ((DIS_mean + 1.5 * DIS_std) < df["DIS"])

# '|'로 '혹은'을 표시해주자 !
outlier = df["DIS"][cond1 | cond2]
result = sum(outlier)

# result = df[(df.DIS > df.DIS.mean() + 1.5`` * df.DIS.std()) | (df.DIS < df.DIS.mean() - 1.5 * df.DIS.std())].DIS.sum() # 한줄로도 가능

print(result)

404.41010000000017

In [12]:
mean = df["DIS"].mean()
std = df["DIS"].std()

result = sum(df[(df["DIS"] > mean + 1.5 * std) | (df["DIS"] < mean - 1.5 * std)]["DIS"])
print(result)

404.41010000000017

---

# 2회 작업형1 (캐글)
[캐글 링크](https://www.kaggle.com/code/agileteam/tutorial-t1-2-python/notebook)

## 1번
데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후,
'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기

In [31]:
import pandas as pd
df = pd.read_csv("./Data/basic1.csv")
df.head(3)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

In [33]:
# f5컬럼을 기준으로 내림차순 정렬
df = df.sort_values("f5", ascending=False).reset_index(drop = True)
df.loc[0:9, "f5"] = df.loc[0:9, "f5"].min()
result = df[df["age"] >= 80]["f5"].mean()
print(result)

62.49774712521738

## 2번
데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
두 표준편차 차이 계산하기

In [25]:
import pandas as pd
df = pd.read_csv("./Data/basic1.csv")
df.head(3)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

In [27]:
df_70 = df[:int(len(df)*0.7)]

before_std = df_70["f1"].std()
df_70["f1"] = df_70["f1"].fillna(df_70["f1"].median())
after_std = df_70["f1"].std()

result = before_std - after_std
print(result)

3.2965018033960725

## 3번
데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [29]:
import pandas as pd
df = pd.read_csv("./Data/basic1.csv")
df.head(3)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

In [30]:
mean = df["age"].mean()
std = df["age"].std()

result = sum(df[(df["age"] > mean + 1.5 * std) | (df["age"] < mean - 1.5 * std)]["age"])
print(result)

473.5

In [31]:
outlier = df[(df["age"].mean() - 1.5 * df["age"].std() > df["age"]) | (df["age"].mean() + 1.5 * df["age"].std() < df["age"])]["age"]
result = sum(outlier)
print(result)

473.5