# 4회 작업형1 (데이터 마님)
[데이터 마님 링크](https://www.datamanim.com/dataset/practice/ex4.html#id2)

## 1번
Temperature컬럼에서 숫자가 아닌 문자들을 제거후 숫자 타입으로 바꾸고 3분위수에서 1분위수의 차이를 소숫점 이하 2자리까지 구하여라

In [27]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv')
df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.5,2.625,211.350143,8.106

### 1) data type을 숫자로 바꾸기 : pd.to_numeric, astype('float')
#### pd.to_numeric
```python
target_column = pd.to_numeric(target_column, # 숫자로 변경할 대상 칼럼 
                         # errors='ignore/raise/coerce')       
```

errors: error는 총 3개의 옵션이 존재
- errors = 'ignore' -> 만약 숫자로 변경할 수 없는 데이터라면 숫자로 변경하지 않고 원본 데이터를 그대로 반환
- errors = 'coerce' -> 만약 숫자로 변경할 수 없는 데이터라면 기존 데이터를 지우고 NaN으로 설정하여 반환
- errors = 'raise' -> 만약 숫자로 변경할 수 없는 데이터라면 에러를 일으키며 코드를 중단

#### astype('float')
```python
df['Temperature_f1'] = df['Temperature'].str.replace('[^\d.]', '', regex=True).astype('float')
```

### 2) 문자열 치환 : str.replace
```python
str.replace('변경하고 싶은 문자',  '변경 후 문자')
```

### 3) 행열 선택 : df.loc[:, Temperature_1]
```python
df.loc[:,'Temperature_f1'] = df['Temperature'].str.replace('[^\d.]', '', regex=True).astype('float')
```

In [26]:
# Temperature컬럼에서 숫자가 아닌 문자들을 제거 후, 숫자타입으로 변경
df['Temperature_f1'] = pd.to_numeric(df['Temperature'].str.replace('[^\d.]', '', regex=True))

# 3분위수와 1분위수의 차이를 소수점 이하 2자리까지
q3 = df['Temperature_f1'].quantile(0.75)
q1 = df['Temperature_f1'].quantile(0.25)
difference = round(q3 - q1, 2)

print(difference)

27.48

## 2번
Likes를 Comments로 나눈 비율이 20이상이면서 Keyword값이 minecraft인 영상들의 Views값의 평균을 정수로 구하여라

In [30]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv')
df.head(5)

,Title,Video ID,Published At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0

### 조건에 맞는 행 추출 : 조건을 괄호()로 감싸주기 
- 추출하기 위한 조건이 2개 이상인 경우 각 조건을 '괄호()'로 묶어주는 것이 안전 !

- 조건1과 조건2가 있을 때, 이 두 조건을 모두 만족하는 데이터를 추출하고 싶다면 '&' 을 사용 
```python
# 조건을 둘다 만족해야 할때
df[(조건1) & (조건2)]
```

- 두 조건 중 하나라도 조건을 만족하는 데이터를 추출하고 싶다면 '|' 를 사용
```python
# 조건 중 하나라도 만족하면 될때
df[(조건1) | (조건2)]
```

In [41]:
# 풀이 1
# Likes를 comments로 나눈 비율이 20이상
ratio = df["Likes"] / df["Comments"]
cond1 = (ratio >= 20)

# Keyword값이 minecraft
cond2 = (df["Keyword"] == "minecraft")

# 두 조건(&) Veiws 값의 평균을 정수로 출력
result = int(df[cond1 & cond2]["Views"].mean())
print(result)

1789084

In [40]:
# 풀이 2
result = df[((df['Likes'] / df['Comments']) >=20) & (df["Keyword"] == 'minecraft')].Views.mean()

print(int(result))

1789084

## 3번
date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수
- 캐글 동일 문제 $\rightarrow$ 풀이 참고

In [42]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv')
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

### 날짜를 이용하는 문제는 pd.to_datetime을 이용하자 !
- 날짜 간 연산(ex. 날짜 데이터 형태 변환, 신규 날짜 생성, 날짜 간 연산 등)을 하기 위해서는 시계열 데이터 날짜가 datetime 타입이어야 유용함

#### 특정 월에 해당하는 데이터를 찾으려면? 
1) 년도와 월을 따로 조건 지정  
2) 이상, 이하 조건을 따로 지정   
3) between 함수를 활용

In [51]:
# 풀이 1 : 년도와 월 조건으로 따로 지정

# 날짜를 쉽게 이용하기 위해 datetime 시계열 타입으로 변경
df["date_added"] = pd.to_datetime(df["date_added"])

df['year'] = df['date_added'].dt.year
df['month'] = df['date_added'].dt.month

# date_added가 2018년 1월인 조건
cond1 = df['year'] == 2018
cond2 = df['month'] == 1
cond3 = df['country'] == "United Kingdom"

print(len(df[cond1 & cond2 & cond3]))

6

In [57]:
# 풀이 2 : 이상, 이하 조건을 따로 지정

df['date_added'] = pd.to_datetime(df['date_added'])

cond1 = df['date_added'] >= '2018-1-1'
cond2 = df['date_added'] <= '2018-1-31'

cond3 = df['country'] == "United Kingdom"

print(len(df[cond1 & cond2 & cond3]))

6

In [56]:
# 풀이 3 : datatime + between 활용
import pandas as pd

df['date_added'] = pd.to_datetime(df['date_added'])
cond1 = df['date_added'].between('2018-1-1', '2018-1-31')

cond2 = df['country'] == "United Kingdom"

print(len(df[cond1 & cond2]))

6

### 칼럼명.dt.strftime("%Y-%m")
```python
# 'date_added' 컬럼의 값을 "%Y-%m" 형식의 연도와 월로 변환
df.date_added.dt.strftime("%Y-%m")
```

In [54]:
# 풀이 4
result = df[(df.date_added.dt.strftime("%Y-%m") =='2018-01') & (df.country =='United Kingdom')]

print(len(result))

6

---

# 4회 작업형1 (캐글)
[캐글 링크](https://www.kaggle.com/code/agileteam/4th-type1-python/notebook)

- 3번은 데이터 마님이랑 동일 문제

## 1번

## 2번

---

# 4회 작업형1 (데이터 에듀)