# 5회 작업형1 (데이터 마님)
[데이터 마님 링크](https://www.datamanim.com/dataset/practice/ex5.html)

In [13]:
# 경고 메세지 숨기기
import warnings
warnings.filterwarnings("ignore")

## 1번
- 20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자. 
- 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라

In [4]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df.head(2)

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

### 1) 시도명 '별' 차이가격의 평균가격을 비교 -> groupby() 떠올릴 것

### 2) 내림차순 정렬 : sort_values(ascending=False)   

### 3) 조건에 맞는 데이터만 남기도록 필터링 할 때 df.reset_index(drop=True) 습관화 하자
- 인덱스 꼬일수도 있으니 !

### 4) 가장 큰 값, 최대값을 구하는 것이므로 .max( ) 활용 가능

In [14]:
# 20L 가격, 5L 가격이 모두 0원이 아닌 데이터만 필터
df_filter = df[(df["20L가격"] !=0) & (df["5L가격"] !=0)]
# df_filter = df[(df["20L가격"] !=0) & (df["5L가격"] !=0)].reset_index(drop=True)

# print(df.shape) # (762, 26)
# print(df_filter.shape) # (454, 26)
# print(len(df_filter[df_filter["20L가격"] == 0]))  # 0임을 확인

# 차이가격 칼럼 생성
df_filter["차이가격"] = df_filter["20L가격"] - df_filter["5L가격"]

# 시도명 별 차이가격의 평균 값 비교할 때 가장 큰 값을 반올림하여 소수점 이하 1자리까지
diff_mean = df_filter.groupby("시도명")["차이가격"].mean()
result = diff_mean.sort_values(ascending=False)[0]
print(round(result, 1))

619.0

In [17]:
# 가장 큰 값을 반올림하여 소숫점 이하 1자리까지 출력
max_price = round(diff_mean.max(), 1)
print(max_price)

619.0

### 참고 - 다른 풀이 : 정렬을 적용해 시리즈를 데이터 프레임으로 만들고, 칼럼의 max( ) 이용
#### Series.to_frame() 정렬된 결과를 새로운 데이터프레임으로 변환
- 보통 groupby를 통해 통계값을 출력하게 되면 시리즈로 바뀜
- 시리즈를 데이터 프레임으로 바꾸기 위해서 .to_frame()을 사용

In [16]:
# Pandas의 설정 옵션 변경
# 최대 출력 열을 100개 까지만
# pd.set_option('display.max_columns', 100)

# 20L 가격, 5L 가격이 모두 0이 아닌 데이터만 필터
filter_df = df[(df['5L가격'] != 0) & ((df['20L가격'] != 0))].reset_index(drop=True)
filter_df['차이가격'] = filter_df['20L가격'] - filter_df['5L가격']

# 시도명 별 차이가격의 평균가격을 비교 -> '별'로 분류하므로, groupby 떠올릴 것
df_grpby = filter_df.groupby(['시도명'])['차이가격'].mean().sort_values(ascending=True).to_frame()
# display(df_grpby.tail(3))

          차이가격
시도명
제주특별자치도  580.0
부산광역시    593.0
인천광역시    619.0

619.0

---

## 2번
- BMI : 몸무게를 키의 제곱으로 나눈 값
- 몸무게, 키(cm)주어지고 BMI = 몸무게/(키(m)의 제곱) 정상범주, 과체중 범주 인원차이

BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 초고도 비만은 BMI 25이상, 고도 비만은 BMI 25미만 - 23 이상, 정상은 23 미만 - 18.5 이상, 저체중은 18.5 미만으로 정의 된다. 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?

In [35]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

### 원본 데이터 키가 cm로 되어있어서 m로 변환후 계산해야함 !!!

In [41]:
# cm -> m 변환해서 칼럼 생성
df["height(m)"] = df["height(cm)"]/100

# BMI 칼럼 생성
df["BMI"] = df["weight(kg)"] / (df["height(m)"] * df["height(m)"])



# BMI에 따라 세분화된 분류를 수행하는 함수
def get_category(bmi) : 
    
    cat = ''
    if bmi >= 25: 
        cat = "초고도 비만"
        
    elif 23 <= bmi < 25: 
        cat = "고도 비만"
        
    elif 18.5 < bmi < 23: 
        cat = "정상"
        
    elif bmi < 18.5: 
        cat = "저체중"
        
    return cat

# df["BMI_cat"] = df["BMI"].apply(lambda x : get_category(x))
df["BMI_cat"] = df["BMI"].map(get_category)

display(df.head())

# 초고도 비만 인원 + 저체중 인원 수
len_a = len(df[df["BMI_cat"] == "초고도 비만"])
len_b = len(df[df["BMI_cat"] == "저체중"])

print(len_a + len_b)

       ID  height(cm)  weight(kg)  height(m)        BMI BMI_cat
0  user_1       173.0        67.5      1.730  22.553376      정상
1  user_2       149.5        82.5      1.495  36.912339  초고도 비만
2  user_3       143.8        64.6      1.438  31.240268  초고도 비만
3  user_4       163.1        87.2      1.631  32.779971  초고도 비만
4  user_5       159.6        77.1      1.596  30.268340  초고도 비만

8998

In [33]:
# 추가 문제) 정상범주, 과체중 범주 인원차이
len_c = len(df[df["BMI_cat"] == "정상"])
len_d = len(df[df["BMI_cat"] == "과체중"])

print(len_c + len_d)

519

---

## 3번
순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다.   
각 년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고, 전체 기간의 해당 순유입인원들의 합을 구하여라

- 순전입학생수=총전입학생-총전출학생 순전입학생 가장많은 학교의 전체학생수를 구하라
- 각학년별(전입,전출)학생, 총전입학생, 총전출학생, 전체학생수 데이터 주어짐
- 문제 복기가 뭔 소린지 ...

In [70]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

### 1) filter 이용
- [filter 참고](https://wikidocs.net/153179)

like인수를 이용해 '특정 문자'가 포함된 열을 필터링
```python
df["전입인원"] = df.filter(like='전입').sum(axis=1)
```

</br>

### 2) List Comprehension 이용
```python
df['순유입인원'] = df[[x for x in df.columns if '전입' in x]].sum(axis=1) - df[[x for x in df.columns if '전출' in x ]].sum(axis=1)
```

In [65]:
# "전입"이 포함된 열들의 합을 계산하여 "전입인원" 열에 할당
df["전입인원"] = df.filter(like='전입').sum(axis=1)
df["전출인원"] = df.filter(like='전출').sum(axis=1)

df["순유입인원"] = df["전입인원"] - df["전출인원"]

# 각 년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원 구하기
result = df.groupby("년도")["순유입인원"].max().sum()
result

130187

In [76]:
# 각 년도별로 가장 큰 순유입인원 찾기
result = df.groupby("년도")["순유입인원"].max().to_frame()
result

      순유입인원
년도
2012    949
2013   1339
2014   2225
2015   1498
2016    774
2017    932
2018   1158
2019   1821
2020   1762
2021   1395

In [68]:
max_inflow = df.groupby('년도')['순유입인원'].max()

# 각 년도별 최대 순유입인원을 가진 지역구의 순유입인원 출력
for year, inflow in max_inflow.items():
    max_inflow_district = df[(df['년도'] == year) & (df['순유입인원'] == inflow)]['지역'].values[0]
    print(f"년도: {year}, 가장 큰 순유입인원을 가진 지역구: {max_inflow_district}, 순유입인원: {inflow}")

# 전체 기간의 해당 순유입인원들의 합 계산
total_inflow = df['순유입인원'].sum()
print(f"\n전체 기간의 순유입인원의 합: {sum(max_inflow)}")

년도: 2012, 가장 큰 순유입인원을 가진 지역구: 강남구, 순유입인원: 9841
년도: 2013, 가장 큰 순유입인원을 가진 지역구: 강남구, 순유입인원: 12685
년도: 2014, 가장 큰 순유입인원을 가진 지역구: 강남구, 순유입인원: 19696
년도: 2015, 가장 큰 순유입인원을 가진 지역구: 강남구, 순유입인원: 13918
년도: 2016, 가장 큰 순유입인원을 가진 지역구: 강남구, 순유입인원: 8240
년도: 2017, 가장 큰 순유입인원을 가진 지역구: 강동구, 순유입인원: 9484
년도: 2018, 가장 큰 순유입인원을 가진 지역구: 강남구, 순유입인원: 10994
년도: 2019, 가장 큰 순유입인원을 가진 지역구: 강남구, 순유입인원: 16190
년도: 2020, 가장 큰 순유입인원을 가진 지역구: 강남구, 순유입인원: 15852
년도: 2021, 가장 큰 순유입인원을 가진 지역구: 강남구, 순유입인원: 13287

전체 기간의 순유입인원의 합: 130187

In [73]:
# 초중고 도내, 도외 "전입"인원 - 초중고 도내, 도외 "전출"인원 
df['순유입인원'] = df[[x for x in df.columns if '전입' in x]].sum(axis=1) - df[[x for x in df.columns if '전출' in x ]].sum(axis=1)

# 년도별, 가장 큰 순유입인원을 가진 지역구의 순유입인원 구하고, 전체 기간의 해당 순유입인원 합 구하기
result = df.groupby('년도')['순유입인원'].max().sum()

print(result) # 13853

13853

---

- 캐글은 기출 5회 작업형1 문제들 복기 안된 것으로 보임