# 작업형1 모의고사 2회
[데이터 마님 링크](https://www.datamanim.com/dataset/practice/q2.html#)

In [20]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [10]:
# df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1137 non-null   int64
 1   gender             1137 non-null   object
 2   age                1137 non-null   object
 3   hypertension       1137 non-null   int64
 4   heart_disease      1137 non-null   int64
 5   ever_married       1137 non-null   object
 6   work_type          1137 non-null   object
 7   Residence_type     1137 non-null   object
 8   avg_glucose_level  1137 non-null   float64
 9   bmi                1085 non-null   float64
 10  smoking_status     1137 non-null   object
 11  stroke             1137 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 106.7+ KB

In [11]:
# df["age"].value_counts()

79     26
57     24
78     24
52     23
81     22
       ..
3       7
35      7
12      6
4       6
*82     1
Name: age, Length: 84, dtype: int64

## 1번
성별이 Male인 환자들의 age의 평균값은 ?

###  age 칼럼에 숫자가 아닌 문자 값이 존재 ! $\rightarrow$ 먼저 전처리 해주자 
```python
.str.replace("변경할 대상", "변경할 값", regex=True)
```
</br>

### age가 object형 이므로, 데이터를 숫자형으로 변환 
```python
.astype("int")
```

In [21]:
# age 값에 숫자가 아닌 값이 존재 -> 숫자가 아닌 값은 제거
df["age"] = df["age"].str.replace('[^\d]', '', regex=True).astype("int")
# df["age"].value_counts()

df_male = df[df["gender"] == "Male"].reset_index(drop=True)
result = df_male["age"].mean()
print(result)

44.68623481781376

### age가 object형 이므로, 데이터를 숫자형으로 변환 
```python
pd.to_numeric( )
```

In [25]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df.head()

# age 값에 숫자가 아닌 값이 존재 -> 숫자가 아닌 값은 제거
df["age"] = pd.to_numeric(df["age"].str.replace('[^\d]', '', regex=True))

df_male = df[df["gender"] == "Male"].reset_index(drop=True)
result = df_male["age"].mean()
print(result)

44.68623481781376

## 2번
bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [27]:
f_1 = df["bmi"].fillna(df["bmi"].median())
result = round(f_1.mean() ,3)
print(result)

29.166

In [ ]:
df["bmi"] = df["bmi"].fillna(df["bmi"].median())
result = round(df["bmi"].mean(), 3)
print(result)

29.166

## 3번
bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

### 바로 직전의 행으로 결측치 채우기 -> fillna(method="ffill")

In [28]:
f2 = df["bmi"].fillna(method="ffill")
result = round(f2.mean(), 3)

print(result)

29.188

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

df["bmi"] = df["bmi"].fillna(method="ffill")
result = round(df["bmi"].mean(), 3)
print(result)

29.188

## 4번
bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

### 각 집단별 평균 구매내역을 알고 싶을 때? : groupby와 transform으로 한줄에 끝내기
transform() 메서드는 groupby() 메서드와 함께 사용되어 그룹별로 연산을 수행하고, 결과를 원본 데이터프레임에 적용하는 기능을 제공하는 pandas의 메서드
- 단계적으로 따로 적용하는게 아님

In [54]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

# age 값에 숫자가 아닌 값이 존재 -> 숫자가 아닌 값은 제거
df["age"] = df["age"].str.replace('[^\d]', '', regex=True).astype("int")

# 28 // 10 = 2 -> 2*10 = 20대 이므로 뒤에 10을 곱해줘야 함

# age 칼럼의 age값을 연령대로 변경한 df에서 bmi 칼럼을, 연령대별 bmi 평균으로 bmi 결측치를 대체
df["bmi"] = df.groupby(df["age"].apply(lambda x : x // 10 * 10 ))["bmi"].transform(lambda x : x.fillna(x.mean()))

# 대체된 bmi 컬럼의 평균 계산
bmi_mean = df['bmi'].mean()
bmi_mean = round(bmi_mean, 3)

print(bmi_mean)

29.263

## 5번
avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

### 특정 조건에 해당하는 데이터를 찾아서 변환시키려면, loc 이용하자

</br>

#### 참고
```python
df[df["avg_glucose_level"] >= 200]["avg_glucose_level"] = 199
```
- df[df["avg_glucose_level"] >= 200]는 조건을 만족하는 행을 선택한 후, 그 행의 "avg_glucose_level" 컬럼을 선택
- 그러나 이후에 대입 연산자(=)를 사용하여 값을 변경하는 것은 선택된 데이터프레임의 사본에 대한 작업
- 원본 데이터프레임(df)에는 영향을 주지 않음. 따라서 df의 "avg_glucose_level" 컬럼은 여전히 200 이상의 값을 가지게 됨
```

In [66]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

df.loc[df["avg_glucose_level"] >= 200 ,"avg_glucose_level"] = 199
result = df[df["stroke"] == 1]["avg_glucose_level"].mean()

print(round(result, 3))

125.188

---

- 위의 5개 문제랑 다른 데이터

In [67]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## 6번
Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

### sort_values 나오면 reset_index(drop = True) 자동화 !!

### true, false의 총 개수를 구할 땐 sum( )을 이용

In [74]:
up = df.sort_values("Attack", ascending = False).reset_index(drop=True)[:400]
down = df.sort_values("Attack", ascending = False).reset_index(drop=True)[400:]

result = sum(up["Legendary"]) - sum(down["Legendary"])
print(result)

55

In [ ]:
df = df.sort_values("Attack", ascending = False)
a = sum(df.loc[:400, "Legendary"])
b = sum(df.loc[400:, "Legendary"])
result = a-b
print(result)

55

## 7번
Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [82]:
result = df.groupby("Type 1")["Total"].mean().sort_values(ascending = False).index[2]
print(result)

Flying

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

df_7 = df.groupby("Type 1")["Total"].mean()
result = df_7.sort_values(ascending=False).index[2]
print(result)

Flying

## 8번
결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [87]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

df = df.dropna().reset_index(drop=True)

df_60 = df.iloc[:int(len(df)* 0.6)]
result = df_60["Defense"].quantile(0.25)
print(result)

50.0

In [ ]:
df = df.dropna()

df_60 = df[:int(len(df)*0.6)]
result = df_60["Defense"].quantile(0.25)
print(result)

50.0

## 9번
Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 데이터에서, Type 1 컬럼의 속성이 Water인 포켓몬 수를 구하여라  
(문제 정확히 명시하게끔 약간 변경)

-> Type 1이 Fire인 포켓몬들의 Attack의 평균이상인, Type1이 Water인 포켓몬 수

In [88]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [91]:
df_cond = df[df["Attack"] >= df[df["Type 1"] == "Fire"]["Attack"].mean()]
result = len(df_cond[df_cond["Type 1"] == "Water"])
print(result)

37

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

cond1 = (df[df["Type 1"] == "Fire"]["Attack"].mean() <= df["Attack"])
cond2 = (df["Type 1"] == "Water")

result = len(df[cond1 & cond2])
print(result)

37

## 10번
각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [108]:
# 각 차이의 절댓값 칼럼을 따로 생성해서, 세대 별 max값을 도출 후 가장 큰 세대명(인덱스) 가져오기
df["abs"] = abs(df["Defense"] - df["Speed"])

# df.head(3)
result = df.groupby("Generation")["abs"].max().idxmax()
print(result)

2

In [109]:
# 사이트에 있는 풀이.. 
# result = abs(df.groupby(['Generation'])[['Speed','Defense']].mean().T.diff().T).sort_values('Defense').index[-1]
# print(result)

2