# 작업형1 모의고사 1회
- [데이터 마님 링크](https://www.datamanim.com/dataset/practice/q1.html)
- 데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

## 1번
마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)

In [7]:
df["age"] = df["age"]//10 * 10
age_counts = df["age"].value_counts()
result = age_counts.idxmax()
print(result)

30

In [11]:
age_counts

30    5056
40    3198
50    2244
20    1638
60     460
70     193
80      57
10      18
90       6
Name: age, dtype: int64

In [8]:
result = (df.age//10 *10).value_counts().index[0]
print(result)

30

## 2번
마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [9]:
df["age"] = df["age"]//10 * 10
age_counts = df["age"].value_counts()
result = age_counts.max()
print(result)

5056

In [10]:
result = (df.age//10 *10).value_counts().values[0]
print(result)

5056

## 3번
나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [12]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

cond1 = (df["age"] >= 25)
cond2 = (df["age"] < 29)
cond3 = (df["housing"] == "yes")

result = len(df[cond1 & cond2 & cond3])
print(result)

504

## 4번
numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

### unique한 값? : 해당 컬럼에서 중복된 값이 없다는 것

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
# print(df.info())

cat_cols = df.select_dtypes(include="object")
result = cat_cols.nunique().idxmax()
print(result)

job

In [2]:
df_cat = df.describe(include="O")
result = df_cat.loc["unique"].to_frame().sort_values("unique", ascending=False).index[0]
print(result)

job

In [3]:
lst = [] 
for col in df.select_dtypes(exclude='int'):
    target = df[col]
    lst.append([col,target.nunique()])

result = pd.DataFrame(lst).sort_values(1,ascending=False).values[0][0]
print(result)

job

## 5번
balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

### 상위 100개 데이터 : df.loc[0:99]
- loc기준으로, : 오른쪽 값은 기준이 되는 값 -1 해주자
- 헷갈림 금지 !!

In [4]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

df_5 = df[df["balance"].mean() <= df["balance"]].sort_values("ID", ascending=False).reset_index(drop=True)
result = df_5.loc[0:99, "balance"].mean()
print(result)

3473.73

In [5]:
df_5 = df[df["balance"] >= df["balance"].mean()]
df_5 = df_5.sort_values("ID", ascending=False).reset_index(drop=True)
result = df_5[0:100]["balance"].mean()
print(result)

3473.73

## 6번
가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [58]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

In [67]:
result = df[["day", "month"]].value_counts().idxmax()
# result = df[['day','month']].value_counts().index[0]
print(result)

(15, 'may')

In [6]:
result = df.groupby(["day", "month"])[["day", "month"]].value_counts().idxmax()
print(result)

(15, 'may')

## 7번
데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

In [72]:
from scipy.stats import shapiro
stats, p = shapiro(df[df["job"] == "unknown"]["age"])
print(p)

0.1961131989955902

## 8번
age와 balance의 상관계수를 구하여라

### 상관계수 : .corr()

In [80]:
result = df[['age','balance']].corr().iloc[0,1] # [1,0]해도 같은 결과
print(result)

0.10198734763981462

## 9번
y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

### 카이제곱 검정 나오면 pd.crosstab( )으로 교차표부터 만들어라 !

In [89]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

In [90]:
from scipy.stats import chi2_contingency

table = pd.crosstab(df["y"], df["education"])
# print(table)

chi2, p, dof, expected = chi2_contingency(table) # 검정통계량, p-value, 자유도, 기대빈도
print(p)

7.901201277473551e-29

## 10번
각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

In [96]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

In [97]:
df["marital"].value_counts()

married     7490
single      3905
divorced    1475
Name: marital, dtype: int64

### 피벗 테이블화 
- 피벗 테이블 : 특정한 열을 행으로, 다른 열을 열로 설정하여 데이터를 재구성

### 아래부터는 구체적인 설명과 흐름

### 피벗테이블을 만들어 주기 위해 `groupby().size() `해주기
- df.groupby(['job','marital']).size().reset_index(): 'job'과 'marital' 컬럼을 기준으로 데이터를 그룹화하고, 각 그룹의 크기(빈도)를 계산
- size() 함수를 사용하여 그룹의 크기를 계산한 후, reset_index() 함수를 사용하여 그룹화된 결과를 데이터프레임으로 변환
- 이렇게 하면 'job', 'marital', 그리고 해당 그룹의 크기를 담은 '0'이라는 열이 있는 데이터프레임이 생성

In [101]:
t = df.groupby(['job','marital']).size().reset_index()
t.head()

           job   marital     0
0       admin.  divorced   207
1       admin.   married   762
2       admin.    single   495
3  blue-collar  divorced   205
4  blue-collar   married  1775

### `pivot_table()` : job에 따른 marital을 확인하기 위해 pivot화
- 뒤에 [0]을 해주는 이유 : 각 그룹의 크기를 나타내는 '0' 열의 값을 피벗 테이블의 값으로 사용하기 위해
- 피벗 테이블에서 어떤 조합의 값이 존재하지 않는다면 해당 셀에는 결측값이 들어감 
- 따라서, 결측값을 0으로 대체하여 테이블을 완전히 채우자

In [106]:
pivotdf = t.pivot_table(index='job',columns='marital')[0] 
pivotdf = pivotdf.fillna(0) # 결측치가 존재하므로 0으로 채우기
# print(pivotdf.head())

pivotdf['ratio'] = pivotdf['divorced'] / pivotdf['married']
result = pivotdf.sort_values('ratio', ascending=False)["ratio"].max()
print(result)

0.2831050228310502

### 피벗으로 복잡하게 안하고 걍 `pd.crosstab()` 해도 됨

In [109]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

table = pd.crosstab(df["job"], df["marital"])

table['ratio'] = table['divorced'] / table['married']
result = table.sort_values('ratio', ascending=False)["ratio"].max()

# result = table.sort_values("ratio", ascending= False)["ratio"].values[0] # 0.283106

print(result)

0.2831050228310502