# 작업형1 모의고사 3회
[데이터 마님 링크](https://www.datamanim.com/dataset/practice/q3.html)

In [131]:
# 경고 메세지 숨기기
import warnings
warnings.filterwarnings("ignore")

- 데이터 설명 : 2010-2019 스포티파이 TOP100 노래

In [132]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo

In [133]:
# df.tail() # 1000행 ~ 1002행은 NaN 값임
df = df.dropna()

## 1번
데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라
- 각 년도별로 1~100위, 1~100위 라는 순위 칼럼을 생성하면 될듯

In [134]:
# df.shape # (1003, 17)

df["rank"] = list(range(1, 101))*10
result = df[df["rank"] == 1]["bpm"].mean()
result

125.6

In [135]:
# df = df.dropna()
# df.loc[:,'rank'] = list(range(1,101))*10
# result = df[df['rank'] == 1].bpm.mean()
# print(result)

## 2번
2015년도에 가장많은 top100곡을 올린 artist는 누구인가?

In [136]:
# 가장 많이 등장한 artist 고르자
result = df[df["top year"] == 2015]["artist"].value_counts().idxmax()
print(result)

Taylor Swift

In [137]:
# result = df[df['top year'] ==2015].artist.value_counts().index[0]
# print(result)

## 3번
년도별 rank값이 1~10위 까지의 곡들 중 두번째로 많은 top genre는 무엇인가?

### 일치하는 요소 확인 : df.isin( ) 
- 일치하는 요소로만 제한해서 빼내고, 조건에 맞는 칼럼에 따라 value_counts 하면 될듯

In [138]:
# df[df["rank"].isin(range(1, 11))]

In [139]:
# df에서 'rank' 열의 값이 1에서 10 사이인 데이터만을 필터링
df[df['rank'].isin(range(1,11))]['top genre'].value_counts()

dance pop                    40
atl hip hop                   7
british soul                  7
boy band                      4
garage rock                   3
detroit hip hop               3
melodic rap                   3
emo rap                       2
modern rock                   2
pop soul                      2
canadian contemporary r&b     2
latin                         2
canadian pop                  2
gangster rap                  1
grime                         1
art pop                       1
electropop                    1
basshall                      1
afroswing                     1
london rap                    1
social media pop              1
hip hop                       1
israeli pop                   1
east coast hip hop            1
metropopolis                  1
alt z                         1
kentucky hip hop              1
contemporary country          1
modern alternative rock       1
indie poptimism               1
indie rock                    1
bass trap                     1
la indie                      1
pop                           1
Name: top genre, dtype: int64

중복되는 값이 있어서, 시험에는 중복되는 데이터 없게 문제 낼듯 !

In [140]:
result = df[df['rank'].isin(range(1,11))]['top genre'].value_counts().index[1]
print(result)

atl hip hop

## 4번
피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가?

### str.split( ) 이용해서 문자를 분리하자 !

In [141]:
# 타이틀에서 'feat.'을 기준으로 문자를 분리해서, 그 뒤에 오는 글자를 찾자 
# str[1] : 앞서 분할된 리스트에서 두 번째 요소를 선택
# str[:-1] : 각 문자열의 마지막 문자를 제거 (아티스트 이름 뒤에 따라오는 공백이나 특수문자를 제거하는 역할)

feat = df["title"].str.split("feat.").str[1].dropna().str[:-1]
result = feat.value_counts().idxmax()
print(result)

 Bruno Mars

In [142]:
# result = df.title.str.split('feat.').str[1].dropna().str[:-1].str.strip().value_counts().index[0]
# print(result)

## 5번
top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?

In [143]:
diff = df[df["year released"] != df["top year"]]
result = diff["top year"].value_counts().idxmax()
print(int(result)) # int 안하면 2016.0으로 나옴

2016

In [144]:
# year = int(df[df['year released'] != df['top year']]['top year'].value_counts().index[0])
# print(year)

## 6번
artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가?

### str.contains( )

In [145]:
df[df["artist"].str.lower().str.contains('q')].artist

24     Enrique Iglesias
136    Enrique Iglesias
283         ScHoolboy Q
385         Storm Queen
480         ScHoolboy Q
481         ScHoolboy Q
562     Rich Homie Quan
632    Enrique Iglesias
709            Big Shaq
982               Queen
Name: artist, dtype: object

In [146]:
# 모두 소문자로 변경
result = df[df["artist"].str.lower().str.contains('q')].artist.nunique()
print(result)

6

In [147]:
# 나는 이렇게 풀었는데, 중복되는 값을 고려해서 nunique()로 총 몇명인지 답을 하는게 좋을 것 같음
# 'q' 단어가 들어가는 아티스트 수 세기
result = len(df[df['artist'].str.lower().str.contains('q')]["artist"])
print(result)

10

## 7번
년도 상관없이 전체데이터에서 1~50위와 51~100위간의 dur 컬럼의 평균값의 차이는?

### isin( ) 을 활용하자 !

In [148]:
top_50 = df[df["rank"].isin(range(1,51))]["dur"].mean()
top_100 = df[df["rank"].isin(range(51, 101))]["dur"].mean()

result = top_50 - top_100
print(result)

0.896000000000015

## 8번
title을 띄어쓰기 단어로 구분 했을때 가장 많이 나온 단어는 무엇인가? (대소문자 구분 x)

```python
str.split() # 공백 자체를 기준으로 단어를 나눔
str.split(' ') # 공백도 하나로 취급
```

### 역슬래시 \ :  특수 문자를 표현하기 위해 사용
- 역슬래시 : 특수 문자를 표현하거나 이스케이프(escape) 시퀀스를 나타내는 데 사용
- 특수문자 앞 역슬래시 안하면 에러남
- 특정 문자를 문자 그 자체로 해석하기 위해 사용

### explode( )
- explode 메서드는 리스트형태의 값을 여러 행으로 전개하는 메서드

In [181]:
df['title'].str.split("\(feat.").str[0]

0          STARSTRUKK
1       My First Kiss
2      I Need A Dollar
3           Airplanes
4      Nothin' on You
            ...
995         SICKO MODE
996          EARFQUAKE
997            Boasty
998     Strike a Pose
999        The London
Name: title, Length: 1000, dtype: object

In [185]:
df['title'].str.split("feat.").str[0]

0          STARSTRUKK (
1       My First Kiss (
2       I Need A Dollar
3           Airplanes (
4      Nothin' on You (
             ...
995          SICKO MODE
996           EARFQUAKE
997            Boasty (
998     Strike a Pose (
999        The London (
Name: title, Length: 1000, dtype: object

In [187]:
# 'title' 컬럼을 띄어쓰기 단어로 분할하여 단어 단위로 확장
words = df['title'].str.split("\(feat.").str[0].str.lower().str.split().explode()

# 가장 많이 등장한 단어 찾기
result = words.value_counts().index[0]
print(result)

the

## 9번
년도별 nrgy값의 평균값을 구할때 최대 평균값과 최소 평균값의 차이를 구하여라

In [189]:
max = df.groupby("top year")["nrgy"].mean().max()
min = df.groupby("top year")["nrgy"].mean().min()

result = max-min
print(result)

13.860000000000007

## 10번
artist중 artist type 타입을 여러개 가지고 있는 artist는 누구인가

In [191]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df.head(1)

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo

In [192]:
df["artist type"].value_counts()

Solo          748
Band/Group    169
Duo            70
Trio           13
Name: artist type, dtype: int64

### artist로 groupby 한 artist type 칼럼의 nunique() 값을 이용 !
- 그룹바이한 아티스트별 type 칼럼의 고유값 개수가 2개 이상인 걸 찾아내자

In [208]:
df.groupby('artist')['artist type'].nunique()

artist
2 Chainz               1
21 Savage              1
3OH!3                  1
5 Seconds of Summer    1
6ix9ine                1
                      ..
fun.                   1
girl in red            1
iann dior              1
lovelytheband          1
will.i.am              1
Name: artist type, Length: 444, dtype: int64

In [218]:
# 'artist' 컬럼에서 여러 개의 'artist type'을 가지고 있는 아티스트 찾기
# nunique() : 고유값 종류가 몇개 있는지 알 수 있음
multi_df = df.groupby('artist')['artist type'].nunique()

result= multi_df[multi_df > 1].index[0] # 인덱스만 가져오기
print(result)

Rudimental

In [219]:
# 사이트 답
# result = df[['artist','artist type']].value_counts().reset_index().artist.value_counts().index[0]
# print(result)

Rudimental