# 시험환경에 나와있는 작업형1 공식예제

자동차 데이터 셋에서 qsec 컬럼을 Min-Max Scale로 변환 후 0.5보다 큰 값을 가지는 레코드(row) 수를 묻는 문제입니다.

In [2]:
import pandas as pd 
df = pd.read_csv("./Data/mtcars2.csv")
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8    NaN  175  3.15  3.440  17.02   0   0     3     2

### 1) minmax_scale( ) 이용

In [4]:
from sklearn.preprocessing import minmax_scale

print('minmax 변환 전: \n',df['qsec'].head())

# min-max scale
df['qsec'] = minmax_scale(df['qsec'])
print('minmax 변환 후: \n',df['qsec'].head())

# 0.5보다 큰 값 / 방법1,2 중에 선택
print(sum(df['qsec'] > 0.5)) # 방법1 (True를 더 함)
print(len(df[df['qsec']>0.5])) # 방법2 (데이터 수를 구함

minmax 변환 전:
 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64
minmax 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64
9
9

### 2) MinMaxScaler( ) , fit_transform( ) 이용

### 사이킷런의 스케일러 함수들은 fit_transform(df[[""]]) -> 이차원 배열 형태가 들어가야함
- scaler.fit_transform 메서드는 2차원 배열 형태의 입력을 받음
- df['qsec']는 1차원 Series 형태이므로, scaler.fit_transform에 직접 사용할 수 없음
- df[['qsec']]를 사용하여 2차원 배열로 변환한 후에 MinMaxScaler를 적용하는 것이 필요

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# [[]] 형태로 적용해줘야함 ! 
# 2차원 DataFrame 형태로 선택되기 위해
df["qsec"] = scaler.fit_transform(df[["qsec"]])
result = len(df[df["qsec"] > 0.5])
print(result)

9