# 작업형 2 : 학생성적 예측 (회귀)
- 데이터 설명 : 학생성적 예측 (종속변수 : G3)
- 평가지표 : rmse 혹은 r2_score

- 제출 형태
```
   StudentID         G3
0       1000  15.970918
1       1008  10.737522
2       1013  14.769053
3       1014   7.326618
4       1017  10.755363
```

[데이터 마님 작업형2 연습문제 - 회귀, 학생 성적 예측](https://www.datamanim.com/dataset/03_dataq/typetwo.html#id15)

[캐글 경진대회 링크](https://www.kaggle.com/datasets/kukuroo3/student-performance-data-set-competition-form/code?select=y_train.csv)

[캐글 개인 노트북 공유](https://www.kaggle.com/code/minjunim/lgbm-r2-score-0-88)

In [ ]:
import pandas as np
import numpy as np

# 데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")

print(x_train.shape)
print(x_train.head(), "\n")
print(x_test.shape)

print(x_test.head(), "\n")
print(y_train.head())


# 1. EDA
# 1-1) train EDA
print(x_train.info(), "\n")
print(x_train.isnull().sum(), "\n")
print(x_train.describe(), "\n")

# 1-2) test EDA
print(x_test.info(), "\n")
print(x_test.isnull().sum(), "\n")
print(x_test.describe(), "\n")

# 1-3) train, test nunique 비교
print(x_train.describe(include="O"), "\n")
print(x_test.describe(include="O"), "\n")



# 2. 전처리
# 2-1) 결측치 제거, id 같은 불필요 칼럼 제거, X와 y분리
# train, test 모두 결측치는 존재하지 않음

# train에서 id 제거
x_train = x_train.drop("StudentID", axis=1)

# test에서 id 분리
test_id = x_test.pop("StudentID")

# 이미 분리되어 데이터 제공했으므로, 값만 할당해주기
y = y_train["G3"]

print(x_train.head(3), "\n")
print(x_test.head(3), "\n")
print(y.head(3), "\n")


# 2-2) 스케일링
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# 수치형 칼럼만 선택
con_cols = x_train.select_dtypes(exclude="object").copy().columns

x_train[con_cols] = scaler.fit_transform(x_train[con_cols])
x_test[con_cols] = scaler.transform(x_test[con_cols])

print(x_train.head(3), "\n")
print(x_test.head(3), "\n")

# 2-3) 인코딩
# 범주형 데이터 칼럼이 많으므로, 라벨인코딩 진행
from sklearn.preprocessing import LabelEncoder

# 범주형 칼럼 선택
cat_cols = x_train.select_dtypes(include="object").copy().columns

for col in cat_cols :
    le = LabelEncoder()
    x_train[col] = le.fit_transform(x_train[col])
    x_test[col] = le.transform(x_test[col])

print(x_train.head(3), "\n")
print(x_test.head(3), "\n")



# 3. 검증 데이터 분리
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(x_train, y, test_size=0.2, random_state=2023)
print(X_train.shape, X_val.shape, "\n")



# 4. 모델링
# 회귀 성능지표
from sklearn.metrics import r2_score, mean_squared_error

# 랜덤포레스트 회귀
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=2023)
rf.fit(X_train, y_train)

rf_pred = rf.predict(X_val)
rf_rmse = np.sqrt(mean_squared_error(y_val, rf_pred))
rf_r2 = r2_score(y_val, rf_pred)

print("랜덤포레스트 rmse : ", rf_rmse)
print("랜덤포레스트 r2_score : ", rf_r2)

# lgbm 회귀
from lightgbm import LGBMRegressor
lgbm = LGBMRegressor(random_state=2023)
lgbm.fit(X_train, y_train)

lgbm_pred = lgbm.predict(X_val)
lgbm_rmse = np.sqrt(mean_squared_error(y_val, lgbm_pred))
lgbm_r2 = r2_score(y_val, lgbm_pred)

print("lgbm rmse : ", lgbm_rmse)
print("lgbm r2_score : ", lgbm_r2)


# 최종 모델 : lgbm
pred = lgbm.predict(x_test)
print(pred)

# 5. 제출 : df, csv
submit = pd.DataFrame({"StudentID" : test_id, "G3" : pred})
submit.to_csv("grade.csv", index=False)

check = pd.read_csv("grade.csv")
print(check.head())

(678, 33)
   StudentID school sex  age address famsize Pstatus  Medu  Fedu      Mjob  \
0       1714     GP   F   18       U     GT3       T     4     3     other
1       1254     GP   F   17       U     GT3       T     4     3    health
2       1639     GP   F   16       R     GT3       T     4     4    health
3       1118     GP   M   16       U     GT3       T     4     4  services
4       1499     GP   M   19       U     GT3       T     3     2  services

   ... romantic famrel freetime  goout  Dalc  Walc health absences  G1  G2
0  ...       no      4        3      3     1     1      3        0  14  13
1  ...      yes      4        4      3     1     3      4        0  13  15
2  ...       no      2        4      4     2     3      4        6  10  11
3  ...       no      5        3      3     1     3      5        0  15  13
4  ...      yes      4        5      4     1     1      4        0   5   0

[5 rows x 33 columns]

(366, 33)
   StudentID school sex  age address famsize Pstatus  Medu  Fedu      Mjob  \
0       1000     GP   F   16       U     GT3       T     4     2  services
1       1008     GP   M   19       U     GT3       T     1     2     other
2       1013     GP   F   16       U     GT3       T     4     4  services
3       1014     GP   F   16       U     GT3       T     3     1  services
4       1017     GP   F   15       U     LE3       A     3     4     other

   ... romantic famrel freetime  goout  Dalc  Walc health absences  G1  G2
0  ...       no      4        2      3     1     1      5        2  15  16
1  ...       no      4        5      2     2     2      4        3  13  11
2  ...       no      3        2      3     1     2      2        6  13  14
3  ...       no      4        3      3     1     2      5        4   7   7
4  ...      yes      5        3      2     1     1      1        0  10  11

[5 rows x 33 columns]

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   678 non-null    int64
 1   school      678 non-null    object
 2   sex         678 non-null    object
 3   age         678 non-null    int64
 4   address     678 non-null    object
 5   famsize     678 non-null    object
 6   Pstatus     678 non-null    object
 7   Medu        678 non-null    int64
 8   Fedu        678 non-null    int64
 9   Mjob        678 non-null    object
 10  Fjob        678 non-null    object
 11  reason      678 non-null    object
 12  guardian    678 non-null    object
 13  traveltime  678 non-null    int64
 14  studytime   678 non-null    int64
 15  failures    678 non-null    int64
 16  schoolsup   678 non-null    object
 17  famsup      678 non-null    object
 18  paid        678 non-null    object
 19  activities  678 non-null    object
 20  nursery     678 non-null    object
 21  higher      678 non-null    object
 22  internet    678 non-null    object
 23  romantic    678 non-null    object
 24  famrel      678 non-null    int64
 25  freetime    678 non-null    int64
 26  goout       678 non-null    int64
 27  Dalc        678 non-null    int64
 28  Walc        678 non-null    int64
 29  health      678 non-null    int64
 30  absences    678 non-null    int64
 31  G1          678 non-null    int64
 32  G2          678 non-null    int64
dtypes: int64(16), object(17)
memory usage: 174.9+ KB
None

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64

         StudentID         age        Medu        Fedu  traveltime  \
count   678.000000  678.000000  678.000000  678.000000   678.00000
mean   1516.181416   16.719764    2.607670    2.371681     1.50590
std     303.029891    1.239881    1.134682    1.096750     0.73675
min    1001.000000   15.000000    0.000000    0.000000     1.00000
25%    1253.250000   16.000000    2.000000    1.000000     1.00000
50%    1508.000000   17.000000    3.000000    2.000000     1.00000
75%    1780.750000   18.000000    4.000000    3.000000     2.00000
max    2043.000000   22.000000    4.000000    4.000000     4.00000

        studytime    failures      famrel    freetime       goout        Dalc  \
count  678.000000  678.000000  678.000000  678.000000  678.000000  678.000000
mean     1.989676    0.261062    3.933628    3.233038    3.140118    1.480826
std      0.848082    0.664340    0.952346    1.042083    1.165537    0.895789
min      1.000000    0.000000    1.000000    1.000000    1.000000    1.000000
25%      1.000000    0.000000    4.000000    3.000000    2.000000    1.000000
50%      2.000000    0.000000    4.000000    3.000000    3.000000    1.000000
75%      2.000000    0.000000    5.000000    4.000000    4.000000    2.000000
max      4.000000    3.000000    5.000000    5.000000    5.000000    5.000000

             Walc      health    absences         G1          G2
count  678.000000  678.000000  678.000000  678.00000  678.000000
mean     2.293510    3.522124    4.594395   11.20649   11.182891
std      1.287705    1.431430    6.527236    2.90395    3.296146
min      1.000000    1.000000    0.000000    4.00000    0.000000
25%      1.000000    2.000000    0.000000    9.00000    9.000000
50%      2.000000    4.000000    2.000000   11.00000   11.000000
75%      3.000000    5.000000    6.000000   13.00000   13.000000
max      5.000000    5.000000   75.000000   19.00000   19.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   366 non-null    int64
 1   school      366 non-null    object
 2   sex         366 non-null    object
 3   age         366 non-null    int64
 4   address     366 non-null    object
 5   famsize     366 non-null    object
 6   Pstatus     366 non-null    object
 7   Medu        366 non-null    int64
 8   Fedu        366 non-null    int64
 9   Mjob        366 non-null    object
 10  Fjob        366 non-null    object
 11  reason      366 non-null    object
 12  guardian    366 non-null    object
 13  traveltime  366 non-null    int64
 14  studytime   366 non-null    int64
 15  failures    366 non-null    int64
 16  schoolsup   366 non-null    object
 17  famsup      366 non-null    object
 18  paid        366 non-null    object
 19  activities  366 non-null    object
 20  nursery     366 non-null    object
 21  higher      366 non-null    object
 22  internet    366 non-null    object
 23  romantic    366 non-null    object
 24  famrel      366 non-null    int64
 25  freetime    366 non-null    int64
 26  goout       366 non-null    int64
 27  Dalc        366 non-null    int64
 28  Walc        366 non-null    int64
 29  health      366 non-null    int64
 30  absences    366 non-null    int64
 31  G1          366 non-null    int64
 32  G2          366 non-null    int64
dtypes: int64(16), object(17)
memory usage: 94.5+ KB
None

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64

         StudentID         age        Medu        Fedu  traveltime  \
count   366.000000  366.000000  366.000000  366.000000  366.000000
mean   1531.352459   16.737705    2.595628    2.418033    1.554645
std     298.868558    1.241762    1.108069    1.106693    0.722263
min    1000.000000   15.000000    0.000000    0.000000    1.000000
25%    1279.500000   16.000000    2.000000    1.250000    1.000000
50%    1535.500000   17.000000    3.000000    2.000000    1.000000
75%    1783.750000   18.000000    4.000000    3.000000    2.000000
max    2037.000000   22.000000    4.000000    4.000000    4.000000

        studytime    failures      famrel    freetime       goout        Dalc  \
count  366.000000  366.000000  366.000000  366.000000  366.000000  366.000000
mean     1.934426    0.270492    3.939891    3.142077    3.185792    1.519126
std      0.808222    0.641534    0.898519    1.010374    1.129148    0.941241
min      1.000000    0.000000    1.000000    1.000000    1.000000    1.000000
25%      1.000000    0.000000    4.000000    3.000000    2.000000    1.000000
50%      2.000000    0.000000    4.000000    3.000000    3.000000    1.000000
75%      2.000000    0.000000    4.750000    4.000000    4.000000    2.000000
max      4.000000    3.000000    5.000000    5.000000    5.000000    5.000000

             Walc      health    absences          G1          G2
count  366.000000  366.000000  366.000000  366.000000  366.000000
mean     2.267760    3.581967    4.139344   11.226776   11.363388
std      1.281865    1.413284    5.571427    3.129260    3.265708
min      1.000000    1.000000    0.000000    0.000000    0.000000
25%      1.000000    3.000000    0.000000    9.000000    9.000000
50%      2.000000    4.000000    2.000000   11.000000   11.000000
75%      3.000000    5.000000    6.000000   13.750000   13.000000
max      5.000000    5.000000   40.000000   19.000000   19.000000

       school  sex address famsize Pstatus   Mjob   Fjob  reason guardian  \
count     678  678     678     678     678    678    678     678      678
unique      2    2       2       2       2      5      5       4        3
top        GP    F       U     GT3       T  other  other  course   mother
freq      509  394     499     479     602    254    371     269      475

       schoolsup famsup paid activities nursery higher internet romantic
count        678    678  678        678     678    678      678      678
unique         2      2    2          2       2      2        2        2
top           no    yes   no         no     yes    yes      yes       no
freq         604    419  537        350     543    621      541      433

       school  sex address famsize Pstatus   Mjob   Fjob  reason guardian  \
count     366  366     366     366     366    366    366     366      366
unique      2    2       2       2       2      5      5       4        3
top        GP    F       U     GT3       T  other  other  course   mother
freq      263  197     260     259     321    145    213     161      253

       schoolsup famsup paid activities nursery higher internet romantic
count        366    366  366        366     366    366      366      366
unique         2      2    2          2       2      2        2        2
top           no    yes   no        yes     yes    yes      yes       no
freq         321    221  287        188     292    334      286      240

  school sex  age address famsize Pstatus  Medu  Fedu    Mjob     Fjob  ...  \
0     GP   F   18       U     GT3       T     4     3   other    other  ...
1     GP   F   17       U     GT3       T     4     3  health    other  ...
2     GP   F   16       R     GT3       T     4     4  health  teacher  ...

  romantic famrel  freetime  goout  Dalc Walc health absences  G1  G2
0       no      4         3      3     1    1      3        0  14  13
1      yes      4         4      3     1    3      4        0  13  15
2       no      2         4      4     2    3      4        6  10  11

[3 rows x 32 columns]

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F   16       U     GT3       T     4     2  services     other
1     GP   M   19       U     GT3       T     1     2     other  services
2     GP   F   16       U     GT3       T     4     4  services  services

   ... romantic famrel  freetime  goout  Dalc Walc health absences  G1  G2
0  ...       no      4         2      3     1    1      5        2  15  16
1  ...       no      4         5      2     2    2      4        3  13  11
2  ...       no      3         2      3     1    2      2        6  13  14

[3 rows x 32 columns]

0    14
1    15
2    11
Name: G3, dtype: int64

  school sex       age address famsize Pstatus      Medu      Fedu    Mjob  \
0     GP   F  1.033310       U     GT3       T  1.227972  0.573314   other
1     GP   F  0.226185       U     GT3       T  1.227972  0.573314  health
2     GP   F -0.580939       R     GT3       T  1.227972  1.485773  health

      Fjob  ... romantic    famrel  freetime     goout      Dalc      Walc  \
0    other  ...       no  0.069744 -0.223792 -0.120306 -0.537159 -1.005250
1    other  ...      yes  0.069744  0.736532 -0.120306 -0.537159  0.549047
2  teacher  ...       no -2.031884  0.736532  0.738301  0.580000  0.549047

     health  absences        G1        G2
0 -0.365026 -0.704400  0.962679  0.551690
1  0.334092 -0.704400  0.618067  1.158907
2  0.334092  0.215504 -0.415772 -0.055527

[3 rows x 32 columns]

  school sex       age address famsize Pstatus      Medu      Fedu      Mjob  \
0     GP   F -0.580939       U     GT3       T  1.227972 -0.339144  services
1     GP   M  1.840434       U     GT3       T -1.417892 -0.339144     other
2     GP   F -0.580939       U     GT3       T  1.227972  1.485773  services

       Fjob  ... romantic    famrel  freetime     goout      Dalc      Walc  \
0     other  ...       no  0.069744 -1.184117 -0.120306 -0.537159 -1.005250
1  services  ...       no  0.069744  1.696857 -0.978913  0.580000 -0.228101
2  services  ...       no -0.981070 -1.184117 -0.120306 -0.537159 -0.228101

     health  absences        G1        G2
0  1.033209 -0.397766  1.307292  1.462516
1  0.334092 -0.244448  0.618067 -0.055527
2 -1.064144  0.215504  0.618067  0.855298

[3 rows x 32 columns]

   school  sex       age  address  famsize  Pstatus      Medu      Fedu  Mjob  \
0       0    0  1.033310        1        0        1  1.227972  0.573314     2
1       0    0  0.226185        1        0        1  1.227972  0.573314     1
2       0    0 -0.580939        0        0        1  1.227972  1.485773     1

   Fjob  ...  romantic    famrel  freetime     goout      Dalc      Walc  \
0     2  ...         0  0.069744 -0.223792 -0.120306 -0.537159 -1.005250
1     2  ...         1  0.069744  0.736532 -0.120306 -0.537159  0.549047
2     4  ...         0 -2.031884  0.736532  0.738301  0.580000  0.549047

     health  absences        G1        G2
0 -0.365026 -0.704400  0.962679  0.551690
1  0.334092 -0.704400  0.618067  1.158907
2  0.334092  0.215504 -0.415772 -0.055527

[3 rows x 32 columns]

   school  sex       age  address  famsize  Pstatus      Medu      Fedu  Mjob  \
0       0    0 -0.580939        1        0        1  1.227972 -0.339144     3
1       0    1  1.840434        1        0        1 -1.417892 -0.339144     2
2       0    0 -0.580939        1        0        1  1.227972  1.485773     3

   Fjob  ...  romantic    famrel  freetime     goout      Dalc      Walc  \
0     2  ...         0  0.069744 -1.184117 -0.120306 -0.537159 -1.005250
1     3  ...         0  0.069744  1.696857 -0.978913  0.580000 -0.228101
2     3  ...         0 -0.981070 -1.184117 -0.120306 -0.537159 -0.228101

     health  absences        G1        G2
0  1.033209 -0.397766  1.307292  1.462516
1  0.334092 -0.244448  0.618067 -0.055527
2 -1.064144  0.215504  0.618067  0.855298

[3 rows x 32 columns]

(542, 32) (136, 32)

랜덤포레스트 rmse :  1.6022390124264159
랜덤포레스트 r2_score :  0.8534349886408534
lgbm rmse :  1.4642285454883284
lgbm r2_score :  0.8775966115252454
[ 1.64259551e+01  1.10555199e+01  1.46387160e+01  7.85263222e+00
  1.07636531e+01  1.43910026e+01  1.74769882e+01  1.25147907e+01
  1.22334448e+01  1.26524458e+01  1.06258918e+01  9.94193313e+00
  1.24531328e+01  1.61317008e+01  1.26700246e+01 -4.41863020e-03
  8.86618562e+00  1.48674671e+01  1.02094303e+01  3.36111603e+00
  1.16912726e+01  8.96897743e+00  1.56784933e+01  1.05132507e+01
  8.26908914e+00  1.09145203e+01  8.43790195e+00  9.65807714e+00
  1.00419024e+01  1.20166751e+01  8.58971706e+00  1.36034639e+01
  1.43219181e+01  1.50061899e+01  7.53080313e-01  8.53684655e+00
  3.15012618e+00  1.70633578e+01  1.08222990e+01  8.49194003e+00
  1.23996584e+01  1.27216145e+01  1.25224954e+01  1.25801690e+01
  6.61553820e-01  1.10817928e+01  1.47157141e+01  8.75614236e+00
  9.83317634e+00  1.10783888e+01  1.01889707e+01  9.96576820e+00
  1.38832791e+01  1.52372414e+01  9.48172311e+00  1.06123622e+01
  1.49366004e+01  9.61497188e+00  1.78348967e+01  1.80256939e+01
  8.83294394e+00  1.74322687e+01  1.03839290e+01  1.48493447e+01
  9.92408835e+00  1.02236812e+01  1.11183437e+01  1.26114241e+01
  1.12155535e+01  1.58495399e+01  8.69072344e+00  9.37321648e+00
  8.74780142e+00  1.00855246e+01  1.39828102e+01  1.13778507e+01
 -2.51428182e-01  1.11610831e+01  6.26325429e+00  1.06506331e+01
  1.26112615e+01  1.27962843e+01  1.29460616e+01  1.60996348e+01
  1.21542071e+01  7.86451849e+00  1.34364066e+01  1.23744199e+01
  1.56265392e+01  1.28499112e+01  1.44818970e+01  1.26241275e+01
  1.29790072e+00  1.12625942e+01  1.73985923e+01  1.78623482e+01
  1.48662831e+01  1.52172684e+01  3.95800886e+00  8.83866719e+00
  1.26887848e+01  1.53186438e+01  5.31079209e+00  1.61004000e+01
  1.25704729e+01  9.76557527e+00  1.32528293e+01  1.27039570e+01
  1.36176841e+01  9.87343558e+00  7.02742202e+00  1.53704031e+01
  1.30717227e+01  1.06752287e+01  9.73790537e+00  1.46686572e+01
  1.39618076e+01  1.31708150e+01  1.28701037e+01  9.99367787e+00
  1.23439703e+01  1.58782929e+01  1.11196245e+01  7.46157168e+00
  1.30749970e+01  1.65903864e+01  1.07841326e+01  1.27190185e+01
  9.73637431e+00  1.60739612e+01  1.43814575e+01  1.13218189e+01
  1.06224587e+01  9.73293755e+00  1.28563623e+01  1.21141072e+01
  1.06931822e+01  8.87991888e+00  1.57562490e+01  1.17882889e+01
  9.69288933e+00  1.12382848e+01  1.55245267e+01  1.63938652e+01
  1.08799583e+01  1.26867838e+01  1.09196172e+01  1.50867643e+01
  1.73565754e+01  1.00461989e+01  1.26648161e+01  8.20405161e+00
  1.23497165e+01  1.29522753e+01  8.55579036e+00  1.04669560e+01
  9.28009305e+00  1.10756627e+01  1.70914212e+01  1.10769257e+01
  6.99885543e+00  1.64925769e+01  8.24250662e+00  1.11572189e+01
  1.53875246e+01  1.50282537e+01  1.07744893e+01  1.22952227e+01
  1.87330534e+00  1.04825435e+01  1.06902249e+01  6.25456379e+00
  9.84242273e+00  1.31610687e+01  1.27999590e+01  9.26666851e+00
  1.04183109e+01  1.21570241e+01  1.12374415e+01  9.36900534e+00
  6.80779772e+00  1.60577676e+01  1.29701998e+01  9.91027923e+00
  9.46729059e+00  1.11550580e+01  6.78876984e+00  1.22096317e+01
  9.09685857e-01  6.78159453e+00  1.09987904e+01  1.39733827e+01
  1.35789402e+01  1.51467710e+01  1.07138748e+01  1.09317070e+01
  1.43183485e+01  8.82724196e+00  1.30952093e+01  1.21319491e+01
  1.05992682e+01  8.83842313e+00  1.28371345e+01  9.91835884e+00
  1.05555845e+01  1.26144881e+01  1.04153904e+01  1.08994601e+01
  1.27981018e+01  1.75498400e+01  1.31333715e+01  8.74039020e+00
  1.04704330e+01  1.15186861e+01  1.13859059e+01  1.09407965e+01
  7.66914539e+00  1.55586523e+01  1.64314600e+01  1.01727180e+01
  1.66410599e+01  1.19387319e+01  8.98524812e+00  8.31085763e+00
  2.84450282e+00  1.49825898e+01  1.14019399e+01  1.72494470e+01
  1.04334515e+01  1.02255741e+01  8.02163752e+00  1.33841152e+01
  1.79802668e+01  6.31708779e+00  9.01773915e+00  1.24931521e+01