# 작업형3 예상문제
- 데이터 마님 기출 변형 5회 ~ 2회의 작업형3 예상문제 모음
- [데이터마님 5회 링크](https://www.datamanim.com/dataset/practice/ex5.html#id4)
- [데이터마님 4회 링크](https://www.datamanim.com/dataset/practice/ex4.html#id4)
- [데이터마님 3회 링크](https://www.datamanim.com/dataset/practice/ex3.html#id4)
- [데이터마님 2회 링크](https://www.datamanim.com/dataset/practice/ex2.html#id4)

## 5회 1번 : 신뢰구간
어느 학교에서 추출한 55명 학생들의 키 정보이다. 이 학생들의 키의 95% 신뢰구간을 구하고자 한다.

- 1-1) 55명 학생들의 키에 대한 표본 평균을 구하여라(반올림하여 소숫점 3째자리까지
- 1-2) t분포 양쪽 꼬리에서의 t 값을 구하여라 (반올림하여 소수4째자리까지)
- 1-3) 95% 신뢰구간을 구하여라(print(lower,upper) 방식으로 출력, 각각의 값은 소숫점 이하 3째자리까지)

In [7]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

### 신뢰구간 구할 때 순서
#### 1) 표본평균, 데이터 개수, 신뢰수준, 자유도 등 미리 선언해주기

In [9]:
# 1-1) 표본평균
x_bar = df["height"].mean()
print(round(x_bar, 3))

169.937

### 자유도 보정값
- 기본적으로 표본의 표준 편차를 계산할 때는 표준 편차를 계산하는 과정에서 편향이 발생
- 이를 보정하기 위해 ddof 매개변수를 사용
- 일반적으로, 표본의 표준 편차를 계산할 때는 ddof=1로 설정하여 보정

In [14]:
import numpy as np
std = np.std(df.height, ddof=1) # delta degrees of freedom, 자유도 보정값
print(std)

5.977625087231691

In [12]:
df["height"].std() # 값 같음

5.977625087231691

In [17]:
# 1-2) t분포 양쪽 꼬리에서의 t값
import numpy as np
from scipy.stats import t

n = len(df["height"])
conf_level = 0.95 
# df = n-1

t_critical = t.ppf((1 + conf_level)/2, df = n-1) # 양측 검정에서 신뢰 구간(confidence interval)
print(round(t_critical, 4))

2.0049

In [19]:
# 1-3) 신뢰구간 구하기
lower = x_bar - t_critical * std / np.sqrt(n)
upper = x_bar + t_critical * std / np.sqrt(n)

print("(", round(lower, 3), ",",  round(upper, 3),")")

( 168.321 , 171.553 )

## 5회 2번 : 크루스컬 윌리스 검정
A,B,C 세 공장에서 생산한 동일한 제품의 길이 데이터이다. 장간의 제품 길이 차이가 유의미한지 확인 하려한다.
- 2-1) 3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 검정 통계량을 반올림하여 소숫점 이하 3자리까지 구하여라.
- 2-2) 3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 p-value를 반올림하여 소숫점 이하 3자리까지 구하여라.
- 2-3) 위 결과에 따라 귀무가설과 대립가설중 0.05 유의수준에서 유의한 가설을 출력하라.

In [1]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df.head()

  ID      value
0  A  84.179434
1  A  93.971003
2  A  62.140957
3  A  72.911723
4  A  79.252747

### 먼저 그룹(집단)에 따른 데이터를 나눠줘야함 !!

In [2]:
from scipy.stats import kruskal

group_a = df[df["ID"] =='A']["value"]
group_b = df[df["ID"] =='B']["value"]
group_c = df[df["ID"] =='C']["value"]

stats, p = kruskal(group_a, group_b, group_c)

# 2-1) 검정통계량
print(round(stats, 3))

6.521

In [6]:
# 2-2) p-value
print(round(p, 3))

0.038

In [4]:
# 2-3) 유의한 가설
# p-value가 0.05보다 작으므로, p<a -> 귀무가설 기각. 따라서 대립가설 채택
print("대립가설")

대립가설

---

## 4회 1번 : 카이제곱 독립성 검정
어느 대학교의 신입생의 학과별 성별에 대한 데이터이다. 학생들의 학과와 성별이 서로 독립적인지 여부를 확인하기 위해 카이제곱 독립성 검정을 실시 하려한다.

- 1-1) 학과 평균 인원에 대한 값을 소숫점 이하 3자리까지 구하여라. 
- 1-2) 카이제곱검정 독립성 검정 통계량을 소숫점 이하 3자리까지 구하여라.
- 1-3) 카이제곱검정 독립성 검정의 pvalue를 소숫점 이하 3자리까지 구하여라. 
- 1-4) 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 것을 출력하라.

In [20]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df.head()

         학번     학과 성별
0  DFSKJK_1   경영학과  여
1  DFSKJK_2   사회학과  여
2  DFSKJK_3  기계공학과  여
3  DFSKJK_4   경제학과  남
4  DFSKJK_5  기계공학과  여

In [25]:
# 1) 학과 평균 인원
mean = df["학과"].value_counts().mean()
print(round(mean, 3))

170.333

In [ ]:
# result= round(df.groupby(['학과']).size().mean(),3)
# print(result)

In [29]:
# 2) 검정통계량
# 학과와 성별이 독립적인지를 확인하는 카이제곱 검정
# 학과와 성별에 따른 교차표를 생성해야함

from scipy.stats import chi2_contingency

table = pd.crosstab(df["학과"], df["성별"])
stats, p, df, expected = chi2_contingency(table)
print(round(stats, 3))

5.646

In [30]:
# 3) p-value
print(round(p, 3))

0.342

In [31]:
# 4) 유의한 가설 출력
# 0.05 유의수준 하에서, p-value가 유의수준보다 크기때문에 귀무가설을 채택한다.
print("귀무가설")

귀무가설

## 4회 2번 : 일표본 모비율 검정 (Z분포 이용) ???????????????????
어느 학교에서 수학 시험을 본 학생 100명 중 60명이 60점 이상을 받았다. 이 학교의 수학 시험의 평균 점수가 60점 이상인지 95%의 신뢰 수준에서 검정하려한다.

- 2-1) 검정 통계량을 소숫점 이하 3자리에서 구하시오.
- 2-2) pvalue를 소숫점 이하 3자리까지 구하고 귀무가설과 대립가설중 유의한 것을 출력하라.

In [36]:
from statsmodels.stats.proportion import proportions_ztest

n = 100 # 샘플 사이즈
x = 60 # 60점 이상을 받은 학생 수

# 귀무 가설(H0): 수학 시험의 평균 점수는 60점 이하이다.
# 대립 가설(H1): 수학 시험의 평균 점수는 60점 이상이다.

alpha = 0.05  # 유의 수준

# 일표본 모비율 검정 수행
stat, p_value = proportions_ztest(x, n, value=0.6, alternative='larger')
print(stat)
print(p_value)

# p-value와 유의 수준을 비교하여 검정 결과 도출
if p_value < alpha:
    print("귀무 가설을 기각합니다. 수학 시험의 평균 점수는 60점 이상입니다.")
else:
    print("귀무 가설을 채택합니다. 수학 시험의 평균 점수는 60점 이하입니다.")

0.0
0.5
귀무 가설을 채택합니다. 수학 시험의 평균 점수는 60점 이하입니다.

In [33]:
import numpy as np

n = 100
p_hat = 60/100
conf_level = 0.95
alpha = 0.05

from scipy.stats import norm
SE = np.sqrt(p * (1-p) / n) # 표본 비율로 SE 계산

z_critical = norm.ppf((1 + conf_level)/2)
print(z_critical)

1.959963984540054

In [32]:
import numpy as np
n = 100
p_hat = 0.6

p = 0.5
alpha = 0.05

# 검정 통계량 계산
z = round((p_hat - p) / np.sqrt(p * (1 - p) / n),3)
print(z)

2.0

### 4-2 다시 풀어야함

---

## 3회 1번 : 카이제곱 적합성 검정
다이어트약의 전후 체중 변화 기록이다. 투약 후 체중에서 투약 전 체중을 뺏을 때 값은 일반 적으로 세가지 등급으로 나눈다. -3이하 : A등급, -3초과 0이하 : B등급, 0 초과 : C등급. 약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다. 위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.

- 1-1) A등급에 해당하는 유저는 몇명인지 확인하라.
- 1-2) 카이제곱검정 통계량을 반올림하여 소숫점 이하 3째자리까지 구하여라.
- 1-3) 카이제곱 검정 p값을 반올림하여 소숫점 이하 3자리까지 구하라. 
- 1-4) 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립).

In [20]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df.head()

       ID     투약전     투약후
0  user_1  55.137  56.106
1  user_2  66.584  60.409
2  user_3  52.259  50.639
3  user_4  77.081  69.164
4  user_5  62.677  57.622

### 적합도 검정
- 표본의 빈도를 이용하여 모집단의 가정된 빈도나 가정된 비율을 만족하는지를 확인하는 것
- 관찰빈도와 기대빈도의 차이를 이용한 검정

#### 1) 본 문제의 가설?
- 귀무가설 : 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1이다.
- 대립가설 : 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1이 아니다.

#### 2) A, B, C 그룹 간 인원수 비율은 2:1:1로 알려져 있다 -> 기대도수 계산 시 0.5, 0.25, 0.25 곱해주기
- 2 : 1 : 1 = 2/4 : 1/2 : 1/2  $\rightarrow$ 0.5 : 0.25 : 0.25 

#### 3) 가장 먼저 기대빈도, 관찰빈도 계산 !!

In [21]:
# 1) A 등급에 해당하는 유저

# 먼저 투약후 체중 - 투약 전 체중 차이 칼럼을 새로 생성
df["diff"] = df["투약후"] - df["투약전"]
result = len(df[df["diff"] <= -3])
print(result)

121

In [22]:
# A, B, C 그룹을 할당하자

def cat(x):
    cat= ''
    if x <= -3 :
        cat = "A"
    elif -3 < x <= 0 :
        cat = "B"
    elif x > 0 :
        cat = "C"
    return cat

df["cat"]= df["diff"].apply(cat)

df.head()

       ID     투약전     투약후   diff cat
0  user_1  55.137  56.106  0.969   C
1  user_2  66.584  60.409 -6.175   A
2  user_3  52.259  50.639 -1.620   B
3  user_4  77.081  69.164 -7.917   A
4  user_5  62.677  57.622 -5.055   A

### 관찰빈도와 기대빈도를 리스트 형식으로 바로 이용

In [45]:
# 리스트로 적용
obs = df["cat"].value_counts().values # 관찰빈도
exp = [len(df['cat'])*0.5, len(df['cat'])*0.25, len(df['cat'])*0.25] # 기대빈도

from scipy.stats import chisquare
s,p = chisquare(obs, exp)

# 2) 검정통계량
print(round(s, 3))

3.613

In [46]:
# 3) p-value 
print(round(p, 3))

0.164

In [47]:
# 4) 가설 채택
# p-value값이 0.05보다 크므로, 귀무가설을 기각하지 못한다. 따라서 귀무가설을 채택
print("귀무")

귀무

### 관찰빈도와 기대빈도를 데이터프레임의 칼럼 형식으로 이용

In [48]:
target = df['cat'].value_counts().sort_index().to_frame()
target['expected'] = [target['cat'].sum()*0.5,target['cat'].sum()*0.25,target['cat'].sum()*0.25]

from scipy.stats import chisquare
s,p = chisquare(target['cat'],target['expected'])

round_s = round(s,3)
print(round_s)

3.613

## 3회 2번 : 대응표본 t검정

다이어트약의 전후 체중 변화 기록이다. A, B 공장에서 생산한 기계들의 rpm 값들을 기록한 데이터이다. 대응 표본 t 검정을 통해 B공장 제품들이 A 공장 제품들보다 rpm이 높다고 말할 수 있는지 검정하려한다.

- 2-1) A,B 공장 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)
- 2-2) A,B 공장 생산 제품의 rpm은 등분산성을 가지는지 levene 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것) 
- 2-3) 대응 표본 t 검정을 통해 B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하라.
- 2-4) 위 검정 결과에 따라 귀무가설, 대립가설 중 하나를 출력하라.

In [50]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df.head()

     rpm group
0  163.6     A
1  246.9     A
2  234.9     A
3  156.9     A
4  226.6     A

### 1) shapiro 정규성 검정
- 귀무가설 : 표본의 모집단이 정규분포와 차이가 없다. (정규성을 만족한다.)
- 대립가설 : 표본의 모집단이 정규분포와 차이가 있다.

In [52]:
# 공장별로 데이터 분할
# df['group'].value_counts() # 각 100개씩

factory_A = df[df["group"] =="A"]["rpm"]
factory_B = df[df["group"] =="B"]["rpm"]

In [57]:
# 1) 샤피로 정규성 검정
from scipy.stats import shapiro

# p-value만 뺴낼거면 s, p로 객체 할당해서 print(p)
A = shapiro(factory_A)
B = shapiro(factory_B)
print(A)
print(B)

ShapiroResult(statistic=0.9863898158073425, pvalue=0.397915244102478)
ShapiroResult(statistic=0.9943944811820984, pvalue=0.9562830924987793)

#### A공장, B공장 모두 귀무가설을 채택하여 정규성을 만족한다고 할 수 있다.

### 2) levene 등분산성 검정
- 귀무가설 (H0): 각 그룹의 모집단 분산은 동일하다.
- 대립가설 (H1): 적어도 하나의 그룹의 모집단 분산은 다른 그룹과 다르다.

In [61]:
# 2) levene 등분산성 검정
from scipy.stats import levene
s, p = levene(factory_A, factory_B)
print(round(p, 3))

0.904

#### p-value가 유의수준 0.05보다 크므로, 귀무가설을 기각하지 못한다. 따라서 등분산성을 만족한다고 할 수 있다.

### 3) 대응표본 t 검정
대응 표본 t 검정을 통해 B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하라.
- 귀무가설 : B공장 rpm이 A공장 rpm보다 작거나 같다.
- 대립가설 : B공장 rpm이 A공장 rpm보다 크다.

In [68]:
# 3) 대응표본 t 검정
from scipy.stats import ttest_rel
s, p = ttest_rel(factory_B, factory_A, alternative = "greater")
print(round(p,3))

0.009

ttest_rel 함수에서 factory_B, factory_A의 순서가 바뀌면 값이 완전 달라진다 !!!

In [66]:
# 4) 유의한 가설은?
# 유의수준 0.05에서, p-value가 유의수준보다 작으므로 귀무가설을 기각한다. 따라서 차이가 있다고 말할 수 있다.
print("대립")

대립

---

## 2회 1번 : 
어느 호수에서 잡은 물고기 122마리 길이 데이터(자체제작)

- 1-1) 122마리의 height 평균값을 m(미터) 단위로 소숫점 이하 5자리까지 실수 값만 출력하라
- 1-2) 모집단의 평균 길이가 30cm 인지 확인하려 일표본 t 검정을 시행하여 확인하려한다. 검정통계량을 소숫점 이하 3째자리까지 구하여라
- 1-3) 위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 이하 3째자리), 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

In [85]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df.head(5)

     fish   height
0  fish_1  33.74cm
1  fish_2  31.64cm
2  fish_3  27.49cm
3  fish_4  31.43cm
4  fish_5  27.56cm

In [86]:
# height가 object 타입이고, cm를 제거
df["height"] = df["height"].str.split("cm").str[0]
df["height"] = pd.to_numeric(df["height"])
df["height"] = df["height"] / 100     # 1m = 100 cm
df.head()

     fish  height
0  fish_1  0.3374
1  fish_2  0.3164
2  fish_3  0.2749
3  fish_4  0.3143
4  fish_5  0.2756

In [88]:
result_1 = df["height"].mean()
print(round(result_1, 5))

0.29951

## 2회 2번 :