# 중복데이터 처리 관련

## 중복행 찾기 : `duplicated()`
```python
df.duplicated(subset=None, keep='first')
```
매개변수
- `subset` : 특정 열만을 대상으로 함
- `keep` : 중복된 행 중 어떤 행을 유지할지 지정
    - `first` : default. 첫 번째 값은 유지하고 이후 중복 값을 True로 표시, 위부터 검사한다는 뜻
    - `last` : 마지막 값을 유지. 아래부터 검사한다는 뜻

In [4]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
        'age': [25, 30, 35, 25, 30]}
df = pd.DataFrame(data)
df

      name  age
0    Alice   25
1      Bob   30
2  Charlie   35
3    Alice   25
4      Bob   30

In [5]:
duplicates = df.duplicated(subset='name')
print(duplicates)

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [6]:
duplicates = df.duplicated(subset='name', keep="last")
print(duplicates)

0     True
1     True
2    False
3    False
4    False
dtype: bool

### Example 
video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

[데이터 마님 작업형1 연습문제 - 공범 데이터 링크](https://www.datamanim.com/dataset/03_dataq/typeone.html#id3)

In [1]:
import pandas as pd
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [3]:
# 중복된 데이터의 시간대와 videoname 가져오기
duplicates = video[video.duplicated()][['ct', 'videoname']]
duplicates

                       ct videoname
722   2021-10-13 09:41:37    공범 EP1
3927  2021-10-13 09:41:37    공범 EP2

## `drop_duplicates()` : 데이터프레임에서 중복된 행을 제거하는 메서드
- 중복된 행 : 모든 열의 값들이 다 동일한 행을 의미

매개변수 
- `subset` : 중복을 검사할 열(들)을 지정합니다. 기본값은 모든 열을 대상으로 중복을 검사합니다.
- `keep` : 중복된 행 중 어떤 행을 유지할지 지정
    - `first` : default. 첫 번째로 나오는 행을 유지 
    - 'last'로 지정하면 마지막으로 나오는 행을 유지 
    - False로 지정하면 모든 중복된 행을 제거